# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Build directories
dist

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Environment files
.env
.env.*

# Misc
.DS_Store
